@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,300&family=Roboto:wght@700&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(./images/My\ background.svg)
}

.container {
    width: 16rem;
    height: 25rem;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.display {
    width: 13rem;
    height: 3rem;
    background-color: #ffffff;
    border: 1px solid rgb(189, 189, 189);
    font-family: 'Mohave', sans-serif;
    text-align: center;
    font-size: 24pt;
}
button {
    width: 3rem;
    height: 3rem; 
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

footer {
    padding: 2rem;
    color: #fff;
}