*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container  {
    background-color: rgb(158, 158, 158);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    overflow: hidden;
    
    
    
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
    'cancel divide times minus'
    'seven eight nine plus'
    'four five six plus'
    'one two three equals'
    'zero zero decimal equals';
    height: 22rem;
    width: 20rem;
    
    
}

.display {
    background-color: black;
    height: 5rem;
    color: white;
    font-size: 50pt;
    text-align: right;
    padding-right: 0.5rem;
    

}

button {
    font-size: 20pt;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.times {
    grid-area: times;
}

.divide {
    grid-area: divide;
}

.equals {
    grid-area: equals;
    background-color: #e2a22b;
}

.decimal {
    grid-area: decimal;
}

.cancel {
    grid-area: cancel;
}

button:hover {
    cursor: pointer;
}
button:focus {
    background-color: #CCC;
}